.section {
  padding: 48px 0;
}

.accent {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
}

.title-section {
  font-family: "Play", sans-serif;
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 48px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.logo-icon {
  fill: var(--color-brand);
}

.control-container {
  width: 281px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.agreement-text {
  width: 213px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--copyright-grey);
  text-align: center;
}
