.aboutUs-section {
  background-size: cover;
  padding: 0 0 126px;
}

.aboutUs-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.aboutUs-content {
  width: 100%;
  max-width: 709px;
  margin-top: 40px;
}

.aboutUs-content,
.aboutUs-images {
  flex-grow: 1;
}

.aboutUs-content .title-section {
  margin-bottom: 40px;
  max-width: 510px;
}

.aboutUs-text {
  margin-bottom: 40px;
  line-height: 1.7;
}

.bold-element {
  font-weight: bold;
  color: var(--color-brand-dark);
  text-transform: capitalize;
}

.aboutUs-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.circle-block {
  border-radius: 50%;
  overflow: hidden;
  width: 327px;
  height: 327px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.28);
}

.circle-bottom {
  margin-left: 172px;
}
