.form-field {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

.form-label {
  position: absolute;
  left: 33px;
  top: 18px;
}

.form-input {
  padding: 18px 33px;
  width: 100%;
  height: 52px;
  border-radius: 32px;
  font-size: 13px;
  border: 2px solid var(--copyright-grey);
  background: transparent;
  color: var(--white);
}

.form-input:focus {
  background-color: var(--copyright-grey);
  outline: none;
}

.form-input::placeholder {
  font-size: 13px;
  color: var(--white);
  line-height: 100%;
}

.form-input:focus::placeholder {
  color: var(--white);
}
