header {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 40px;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-nav-contact {
  display: flex;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-contact {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.header-contact {
  fill: var(--color-brand-dark);
}
